config/.vim/.netrwhist
config/.vim/plugged
*.swp
*.swo
node_modules
*Cache*
*cache*
*modules*
*Modules*
*storage*
*Storage*
*report*
*Report*
*cookie*
*Cookie*
Network Persistent State
*log*
storage
shared_proto_db
VideoDecodeStats
discord
pulse
session
*/discord/SS
TransportSecurity
*/discord/*.png
*password*
*Password*
*secoret*
*Secoret*
*account*
*Account*
*.db*
*.tdb*
*.pem
*private*
*Private*

config/opera
config/kwalletrc
config/.vim/.netrwhist
config/.vim/plugged/vim-flutter
config/.vim/plugged/vim-ripgrep
config/QtProject.conf
config/gtkrc
config/gtkrc-2.0
config/kde.org/UserFeedback.org.kde.discover.conf
config/kde.org/UserFeedback.org.kde.plasmashell.conf
config/kde.org/UserFeedback.org.kde.systemsettings.conf

local/share/RecentDocuments/
local/share/Trash/
local/share/akonadi/
local/share/baloo/
local/share/kactivitymanagerd/
local/share/kcookiejar/
local/share/klipper/
local/share/konqueror/
local/share/kpeople/
local/share/kpeoplevcard/
local/share/ktp/
local/share/kwalletd/
local/share/kwin/
local/share/kxmlgui5/
local/share/plank/
local/share/ranger/
local/share/telepathy/
local/share/xorg/
local/share/zeitgeist/
local/share/krunnerstaterc/
local/share/recently-used.xbel/
local/share/user-places.xbel
local/share/user-places.xbel.tbcache
local/share/user-places.xbel.bak




