.vim/.netrwhist
*.swp
*.swo
node_modules
*Cache*
*cache*
*modules*
*Modules*
*storage*
*Storage*
*report*
*Report*
*cookie*
*Cookie*
*lock*
*Lock*
Network Persistent State
*log*
storage
shared_proto_db
VideoDecodeStats
discord
pulse
session
*/discord/SS
TransportSecurity
*/discord/*.png
*password*
*Password*
*secoret*
*Secoret*
*account*
*Account*
*.db*
*.tdb*
*.pem
*private*
*Private*
*key*
*Key*
