[Desktop Entry]
Version=1.0
Type=Application
Name=Panther Launcher
Comment=Launcher
Exec=panther_launcher
Icon=start-here
Path=
Terminal=false
StartupNotify=true
