[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[1284B7D084B7B517]
row=3
col=23

[google-drive://ccmonks32@gmail.com/]
row=4
col=23

[Trash]
row=2
col=23

[/]
row=0
col=23

[/home/cammonks]
row=1
col=23

